<main class="container my-3">
  <%= render '/user_card', user: @user %>
  <h3>Bio</h3>
  <p><%= @user.bio %></p>
  <section>
    <% @user.three_most_recent_posts.each do |post| %>
      <a href="<%= @user.id %>/posts/<%= post.id %>">
        <%= render '/post_card', post: %>
      <a>
    <% end %>
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary" href="<%= @user.id %>/posts">See all posts</a>
    </div>
  </section>
</main>
