<section class="row mb-2">
  <div class="col">
    <h5><%= @post.title %></h5>
    <h6>by <%= @user.name %></h6>
  </div>
  <div class="col-6 text-end d-flex flex-column justify-content-center">
    <small>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></small>
  </div>
  <p class="px-3 mb-0"><%= @post.text %></p>
</section>
<section class="mb-3">
  <div class="row row-cols-auto justify-content-end mb-2">
    <%= link_to render('comment_icon'), new_post_comment_path(@post.id) %>
    <%= render 'like' %>
  </div>
  <div class="px-3">
    <% @post.comments.sort.each do |comment| %>
      <%= render '/comment', comment: %>
    <% end %>
  </div>
</section>
