<main class="container my-3">
  <section class="row mb-3">
    <div class="col">
      <h5><%= @post.title %></h5>
      <h6>by <%= @user.name %></h6>
    </div>
    <div class="col-6 text-end d-flex flex-column justify-content-center">
      <small>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></small>
    </div>
  </section>
  <section>
    <p class="px-2"><%= @post.text %></p>
    <div class="px-3">
      <% @post.comments.sort.each do |comment| %>
        <%= render '/comment', comment: %>
      <% end %>
    </div>
  </section>
</main>
